* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  color: #ff6f61;
  text-decoration: none;
}
i {
  color: #ff6f61;
}

// start of breadcrub style

ul.breadcrumb {
  padding: 10px 2rem;
  list-style: none;
  background-color: #fff;
  margin: 0 1rem;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
// end of start of breadcrub style

// start address card style
.card-content-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 1s linear;
  padding: 1rem;
  background-color: #eee;

  .card-plate {
    background: #fff;
    margin: 20px;
    border-radius: 4px;
    flex: 1 1 28.75rem;

    h1 {
      text-align: center;
      margin-top: 0.8rem;
    }
    .card-address {
      margin: 1.5rem 0;
      line-height: 3rem;
      font-size: 1.5rem;
      padding: 1rem 1rem;
      i {
        margin-right: 0.8rem;
      }
    }
    .social-links {
      display: flex;
      justify-content: space-around;
      align-items: center;

      li {
        width: 3.5rem;
        height: auto;
        padding: 0.8rem;

        border: 1px solid #ff6f61;
        border-radius: 5px;
        margin: 5px;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
        }
      }
    }
    form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      input,
      textarea,
      button {
        margin: 5px;
        padding: 0.5rem;
        border: 1px solid #75757d;
        border-radius: 4px;
        outline-color: #ff6f61;
        background: #fff;
      }
      .grid1 {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex: 1 1 2rem;
      }
      button {
        border-color: #ff6f61;
        color: #ff6f61;
        font-weight: bold;
      }
      button:hover {
        background-color: #ff6f61;
        color: #eee;
      }
    }
  }
}
// end of address card style

// map/
.map-content-wrapper {
  padding: 2rem;
  background-color: #eee;

  width: 100%;

  .contact-map {
    border: 20px solid #fff;
    border-radius: 4px;
    iframe {
      width: 100%;
      height: 30rem;
      display: block;
    }
  }
}

//end of map/
footer {
  .footer-part1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .box {
      flex: 1 2 400px;
      padding: 1rem;
      h1 {
        margin: 1rem 0 2rem 0;
      }
      .social-links {
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
          width: 3.5rem;
          height: auto;
          padding: 0.8rem;
          border: 1px solid #000;
          border-radius: 5px;
          margin: 5px;
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;

            i {
              color: #000;
            }
          }
        }
        li:hover {
          color: #ff6f61;
          border: 1px solid #ff6f61;
        }
        li:hover i {
          color: #ff6f61;
        }
      }
      .card-address {
        margin: 1.5rem 0;
        line-height: 1.5rem;
        font-size: 1rem;
        padding: 2rem 1rem;
        i {
          margin-right: 0.8rem;
          color: #000;
        }
        li:hover {
          color: #ff6f61;
        }
        li:hover i {
          color: #ff6f61;
        }
        li:hover:before {
          content: "» ";
          font-size: bold;
        }
      }
    }
  }
}

.payment {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  border-top: 1px solid #eee;

  .payment-method {
    display: inline-flex;
  }
  .payment-security {
    display: inline-flex;
  }
  h2 {
    font-size: 1rem;
    margin-right: 1rem;
  }
  img {
    height: 1rem;
  }
}

.footer-bottom {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  flex-wrap: wrap;

  .copyright {
    text-align: center;
    font-size: 0.8rem;
    flex: 1 1 30rem;
  }
}
