@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #eee;
}

ul {
  list-style-type: none;
}

a {
  color: #ff6f61;
  text-decoration: none;
}

i {
  color: #ff6f61;
}

div {
  display: block;
}

ul.breadcrumb {
  padding: 2rem 2rem;
  list-style: none;
  margin: 0 1rem;
  color: #75757d;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #ff6f61;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.card-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  padding: 1rem;
  background-color: #eee;
}

.card-content-wrapper .card-plate {
  background: #fff;
  margin: 20px;
  border-radius: 4px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 28.75rem;
          flex: 1 1 28.75rem;
}

.card-content-wrapper .card-plate h1 {
  text-align: center;
  margin-top: 0.8rem;
}

.card-content-wrapper .card-plate .card-address {
  margin: 1.5rem 0;
  line-height: 3rem;
  font-size: 1.5rem;
  padding: 1rem 1rem;
}

.card-content-wrapper .card-plate .card-address i {
  margin-right: 0.8rem;
}

.card-content-wrapper .card-plate .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-content-wrapper .card-plate .social-links li {
  width: 3.5rem;
  height: auto;
  padding: 0.8rem;
  border: 1px solid #ff6f61;
  border-radius: 5px;
  margin: 5px;
}

.card-content-wrapper .card-plate .social-links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.card-content-wrapper .card-plate form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-content-wrapper .card-plate form input,
.card-content-wrapper .card-plate form textarea,
.card-content-wrapper .card-plate form button {
  margin: 5px;
  padding: 0.5rem;
  border: 1px solid #75757d;
  border-radius: 4px;
  outline-color: #ff6f61;
  background: #fff;
}

.card-content-wrapper .card-plate form .grid1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 2rem;
          flex: 1 1 2rem;
}

.card-content-wrapper .card-plate form button {
  border-color: #ff6f61;
  color: #ff6f61;
  font-weight: bold;
}

.card-content-wrapper .card-plate form button:hover {
  background-color: #ff6f61;
  color: #eee;
}

.map-content-wrapper {
  padding: 2rem;
  background-color: #eee;
  width: 100%;
}

.map-content-wrapper .contact-map {
  border: 20px solid #fff;
  border-radius: 4px;
}

.map-content-wrapper .contact-map iframe {
  width: 100%;
  height: 30rem;
  display: block;
}

table,
thead,
tr,
th,
tbody,
td {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
  padding: 0.5rem;
  text-align: center;
}

.cartbox-wrapper {
  margin: 4rem 1rem;
  overflow-x: scroll;
}

.cartbox-wrapper img {
  width: 5rem;
  padding: 0 1rem;
}

.cartbox-wrapper .qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cartbox-wrapper .qty input {
  width: 1.8rem;
  height: 1.7rem;
  background: black;
  color: #fff;
  text-align: center;
  border: none;
}

.cartbox-wrapper .cartbox {
  padding: 2rem 3rem;
  padding: 1rem;
  background-color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  scrollbar-color: #ff6f61;
}

.cartbox-wrapper .cartbox .table {
  border: 2px solid #eee;
  white-space: nowrap;
  table-layout: fixed;
  width: 950px;
  scrollbar-color: #ff6f61;
}

.cartbox-wrapper .cartbox .table button {
  background-color: #ff6f61;
  color: #fff;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  outline-style: none;
  cursor: pointer;
}

.cartbox-wrapper .cartbox .table button i {
  color: #fff;
}

.cartbox-wrapper .cartbox .table input {
  width: 1.8rem;
  height: 1.7rem;
  background: black;
  color: #fff;
  text-align: center;
  border: none;
}

.cartbox-wrapper .cartbox .table thead {
  border: 2px solid #eee;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.4rem;
}

.cartbox-wrapper .cartbox .table .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginbox-wrapper {
  padding: 1rem 3rem;
}

.loginbox-wrapper .signup-form,
.loginbox-wrapper .login-form {
  background-color: #fff;
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 5px;
}

.loginbox-wrapper .signup-form form,
.loginbox-wrapper .login-form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem 3rem;
  font-size: 0.9rem;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.loginbox-wrapper .signup-form form p,
.loginbox-wrapper .login-form form p {
  margin: 0;
}

.loginbox-wrapper .signup-form form label,
.loginbox-wrapper .login-form form label {
  display: block;
  padding: 0.2rem 0;
}

.loginbox-wrapper .signup-form form input,
.loginbox-wrapper .login-form form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #afafaf;
  outline: none;
  border-radius: 3px;
}

.loginbox-wrapper .signup-form form input:hover,
.loginbox-wrapper .signup-form form input:focus,
.loginbox-wrapper .login-form form input:hover,
.loginbox-wrapper .login-form form input:focus {
  border-color: #ff6f61;
}

.loginbox-wrapper .signup-form form button,
.loginbox-wrapper .login-form form button {
  padding: 0.6rem;
  border: 1px solid #ff6f61;
  border-radius: 4px;
  color: #ff6f61;
  font-weight: bold;
  text-transform: uppercase;
  background: #fff;
  width: 5rem;
}

.loginbox-wrapper .signup-form form button:hover,
.loginbox-wrapper .signup-form form button:focus,
.loginbox-wrapper .login-form form button:hover,
.loginbox-wrapper .login-form form button:focus {
  background: #ff6f61;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.loginbox-wrapper .login-form {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.loginbox-wrapper .login-form .checkbox {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.loginbox-wrapper .login-form .checkbox input {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (max-width: 1200px) {
  p {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media (min-width: 950px) {
  .loginbox-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    grid-gap: 4rem;
  }
}

footer {
  background: #fff;
}

footer .footer-part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-part1 .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 2 300px;
          flex: 1 2 300px;
  padding: 1rem;
}

footer .footer-part1 .box h1 {
  margin: 1rem 0 2rem 0;
}

footer .footer-part1 .box .social-links li {
  display: inline-block;
  width: 3rem;
  height: auto;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 5px;
}

footer .footer-part1 .box .social-links li a {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
}

footer .footer-part1 .box .social-links li a i {
  color: #000;
}

footer .footer-part1 .box .social-links li:hover {
  color: #ff6f61;
  border: 1px solid #ff6f61;
}

footer .footer-part1 .box .social-links li:hover i {
  color: #ff6f61;
}

footer .footer-part1 .box .card-address {
  margin: 1.5rem 0;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 2rem 1rem;
}

footer .footer-part1 .box .card-address i {
  margin-right: 0.8rem;
  color: #000;
}

footer .footer-part1 .box .card-address li:hover {
  color: #ff6f61;
}

footer .footer-part1 .box .card-address li:hover i {
  color: #ff6f61;
}

footer .footer-part1 .box .card-address li:hover:before {
  content: "» ";
  font-size: bold;
}

footer .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #eee;
  -webkit-box-shadow: inset 0px 10px 21px 7px rgba(188, 188, 188, 0.4);
          box-shadow: inset 0px 10px 21px 7px rgba(188, 188, 188, 0.4);
  padding: 1rem;
}

footer .payment .payment-method {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

footer .payment .payment-security {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

footer .payment h2 {
  font-size: 1rem;
  margin-right: 1rem;
}

footer .payment img {
  height: 2rem;
}

footer .footer-bottom {
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-bottom .copyright {
  text-align: center;
  font-size: 0.8rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.cart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem;
}

.cart .cart-summary {
  background: #fff;
  padding: 1.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.cart .cart-summary p {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  grid-gap: 1rem;
}

.cart .cart-summary p input {
  border-radius: 4px;
  outline: none;
  border: 1px solid #ff6f61;
  padding: 0 1rem;
}

.cart .cart-summary .cart-content {
  margin: 1rem 0;
  background: #eee;
  padding: 1rem;
}

.cart .cart-summary .cart-content h1 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0;
}

.cart .cart-summary .cart-content p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.cart .cart-summary .cart-content h2 {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 0;
  border-top: 1px solid #75757d;
}

.cart .cart-btn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.cart button {
  border: 1px solid #ff6f61;
  border-radius: 4px;
  outline-color: #ff6f61;
  padding: 0.6rem;
  background: #fff;
}

.cart button:hover,
.cart button:focus {
  background: #ff6f61;
  color: #fff;
}

.cart button:last-child {
  background: #ff6f61;
  color: #fff;
}

.cart button:last-child > button:hover {
  background: black;
}

@media (max-width: 900px) {
  .cart {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .table {
    width: 500px;
  }
}
/*# sourceMappingURL=style.css.map */